<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>WebNotes -//- 404</title>
        <!-- OG -->
        <meta property="og:title" content="Hoppá! Az oldal nem található – WebNotes" />
        <meta property="og:description" content="Úgy tűnik, ez az oldal nem létezik. Lehet, hogy a link lejárt vagy el lett távolítva." />
        <meta property="og:image" content="https://webnotes.hu/img/banner/WebNotes.png" />
        <meta property="og:type" content="website" />
        <!---->
        <link rel="manifest" href="/json/manifest.json" />
        <link rel="shortcut icon" href="/img/logo/favicon.png" type="image/x-icon" />
        <link href="/css/tabler.min.css" rel="stylesheet" />
        <link href="/css/tabler-icons-outline.min.css" rel="stylesheet" />
        <style>
            @import url('https://rsms.me/inter/inter.css');
            :root {
                --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
            }
            body {
                font-feature-settings: 'cv03', 'cv04', 'cv11';
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                transition: background-image 0.3s ease-in-out;
            }
            .theme-toggle {
                position: fixed;
                top: 1rem;
                right: 1rem;
                z-index: 1000;
            }
            .theme-toggle i {
                font-size: 1.5rem;
                cursor: pointer;
                transition: color 0.3s, transform 0.3s ease-in-out;
            }
        </style>
    </head>
    <body class="d-flex flex-column">
        <script src="/js/theme.min.js"></script>
        <div class="theme-toggle">
            <a href="#" class="nav-link px-0 hide-theme-dark" title="Sötét mód bekapcsolása" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="ti ti-moon"></i>
            </a>
            <a href="#" class="nav-link px-0 hide-theme-light" title="Világos mód bekapcsolása" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="ti ti-sun"></i>
            </a>
        </div>
        <div class="page page-center">
            <div class="container-tight py-4">
                <div class="empty">
                    <div class="empty-header">404</div>
                    <p class="empty-title">Opsz! Az oldal nem található</p>
                    <p class="empty-subtitle text-secondary"> Az oldal, amit keresel nem található. Kérlek ellenőrizd az URL-t, vagy térj vissza a főoldalra. </p>
                    <div class="empty-action">
                        <a href="./." class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l14 0" />
                                <path d="M5 12l6 6" />
                                <path d="M5 12l6 -6" />
                            </svg>
                            Vissza
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script id="dev"></script>
        <script src="/js/tabler.min.js" defer></script>
        <script src="/js/theme.js"></script>
    </body>
</html>
