@import url('https://rsms.me/inter/inter.css');
:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto,
        Helvetica Neue, sans-serif;
}
body {
    font-feature-settings: 'cv03', 'cv04', 'cv11';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.3s ease-in-out;
}
.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.theme-toggle i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s ease-in-out;
}

.ti {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}
